# OSX
.DS_Store

# IDE
.idea
.vscode

# npm
node_modules
yarn.lock
package-lock.json

# 接口文档
docs2md.md

# 编译好的代码
/dist

# jest
coverage

# build
/locale
/plugin
/dayjs.min.js
/esm
/index.d.ts
locale.json